
.login-menu {
  width: 400px;
  margin: 200px auto;
  background-color: white;
  padding: 30px 20px;
  border-radius: 15px;
}

.login-text {
  font-size: 28px;
  font-weight: bold;
  margin: 0 10px;
}

.login-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
